:root {
    --color-1: #25274d;
    --color-2: #464866;
    --color-3: #aaabb8;
    --color-4: #2e9cca;
    --color-5: #29648a;

    --color-bg: #25274d;
    --color-white: #ffffff;
    --color-btn-primary: #2e9cca;

    --transition: all 400ms ease;

    --logo-row-shift: -250px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}



body {
    background-color: var(--color-1);
    color: white;
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}



a {
    text-decoration: none;
    color: var(--color-btn-primary);

    background: linear-gradient(var(--color-btn-primary) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
}

a:hover {
    --p: 100%;
    color: #fff;
}


.btn {
    width: max-content;
    color: var(--color-btn-primary);
    border-radius: 0.4rem;
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    display: inline-block;
    transition: var(--transition);
    border: 1px solid var(--color-btn-primary);
    background-color: var(--color-bg);
}

.btn:hover {
    background-color: var(--color-btn-primary);
    color: var(--color-bg);
}

.btn-primary {
    background: var(--color-btn-primary);
    color: var(--color-bg);
}

.btn-primary:hover {
    /* background: var(--color-bg);
    color: var(--color-btn-primary); */
    color: white;
    animation: btnShake 0.5s;
}

@keyframes btnShake {
    from {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);

    }
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

