#home {
    font-size: 6vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-section {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: fadein 2s;
}

@keyframes fadein {
    from { 
        opacity: 0;
        transform: translate(0%, 10%);
     }
    to   { 
        opacity: 1;
    }
}

.title {
    font-size: 6rem;
    max-width: 80vw;
    text-align: center;
}

.title-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.download-success {
    color: #5cb85c;
}

.title-buttons * {
    margin: 2rem;
    font-size: 1rem;
}

.scroll-more {
    font-size: 1rem;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: scroll-more-anim 1s alternate infinite ease-in-out;

    opacity: 0.7;

    position: absolute;
    bottom: -40%;
    
}

.scroll-more > img {
    width: 32px;
    height: 32px;
}

@keyframes scroll-more-anim {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, 20%);
    }
}

@keyframes title-fade-in {
    from {
        opacity: 0;
        transform: translate(0, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}


.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    z-index: -1;
}

.logo-container * {
    position: absolute;
}

.logo-container > * {
    position: absolute;
    left: 0;
    width: 100vw;
}

.logo-container > * > img {
    height: 20vh;
    position: absolute;
    overflow: hidden;
}

.logo-row-1 {
    top: 16vh;
}

.logo-1-1 {
    transform: translate(0, -50%);
    animation: logo-anim-1-1 50s infinite linear;
}

.logo-1-2 {
    transform: translate(100%, -50%);
    animation: logo-anim-1-2 50s infinite linear;
}

.logo-row-2 {
    top: 50vh;
}

.logo-2-1 {
    transform: translate(var(--logo-row-shift), -50%);
    animation: logo-anim-2-1 50s infinite linear;
}

.logo-2-2 {
    transform: translate(calc(100% + var(--logo-row-shift)), -50%);
    animation: logo-anim-2-2 50s infinite linear;
}

.logo-row-3 {
    top: 83vh;
}

.logo-3-1 {
    transform: translate(calc(2 * var(--logo-row-shift)), -50%);
    animation: logo-anim-3-1 50s infinite linear;
}

.logo-3-2 {
    transform: translate(calc(100% + 2 * var(--logo-row-shift)), -50%);
    animation: logo-anim-3-2 50s infinite linear;
}

@keyframes logo-anim-1-1 {
    from {
        transform: translate(0, -50%);
    }
    49% {
        transform: translate(-100%, -50%);
        opacity: 1;
    }
    50% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }
    51% {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    52% {
        transform: translate(100%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(0, -50%);
    }
}

@keyframes logo-anim-1-2 {
    from {
        transform: translate(100%, -50%);
    }
    50% {
        transform: translate(0%, -50%);
        opacity: 1;
    }
    97% {
        transform: translate(-100%, -50%);
        opacity: 1;
    }
    98% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }
    99% {
        transform: translate(100%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(100%, -50%);
    }
}

@keyframes logo-anim-2-1 {
    from {
        transform: translate(var(--logo-row-shift), -50%);
    }
    49% {
        transform: translate(calc(-100% + var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    50% {
        transform: translate(calc(-100% + var(--logo-row-shift)), -50%);
        opacity: 0;
    }
    51% {
        transform: translate(calc(100% + var(--logo-row-shift)), -50%);
        opacity: 0;
    }
    52% {
        transform: translate(calc(100% + var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    to {
        transform: translate(var(--logo-row-shift), -50%);
    }
}

@keyframes logo-anim-2-2 {
    from {
        transform: translate(calc(100% + var(--logo-row-shift)), -50%);
    }
    50% {
        transform: translate(var(--logo-row-shift), -50%);
        opacity: 1;
    }
    97% {
        transform: translate(calc(-100% + var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    98% {
        transform: translate(calc(-100% + var(--logo-row-shift)), -50%);
        opacity: 0;
    }
    99% {
        transform: translate(calc(100% + var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    to {
        transform: translate(calc(100% + var(--logo-row-shift)), -50%);
    }
}

@keyframes logo-anim-3-1 {
    from {
        transform: translate(calc(2 * var(--logo-row-shift)), -50%);
    }
    49% {
        transform: translate(calc(-100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    50% {
        transform: translate(calc(-100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 0;
    }
    51% {
        transform: translate(calc(100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 0;
    }
    52% {
        transform: translate(calc(100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    to {
        transform: translate(calc(2 * var(--logo-row-shift)), -50%);
    }
}

@keyframes logo-anim-3-2 {
    from {
        transform: translate(calc(100% + 2 * var(--logo-row-shift)), -50%);
    }
    50% {
        transform: translate(calc(2 * var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    97% {
        transform: translate(calc(-100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    98% {
        transform: translate(calc(-100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 0;
    }
    99% {
        transform: translate(calc(100% + 2 * var(--logo-row-shift)), -50%);
        opacity: 1;
    }
    to {
        transform: translate(calc(100% + 2 * var(--logo-row-shift)), -50%);
    }
}

