#projects {
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.project-holder {
    width: 300px;
    height: max-content;
    padding: 1rem;
    background-color: var(--color-2);
    border-radius: 1rem;

    position: relative;

    transition: var(--transition);
}

.project-holder:hover {
    transform: scale(1.05);
}

.project-holder > * {
    padding: 0.3rem;
}

.project-img {
    border-radius: 1rem;
    height: 60%;
    height: 200px;
}

.gitlink {
    font-size: 3rem;
    text-align: center;
}

.gitlink:hover {
    cursor: pointer;
    color: var(--color-4);
}

.popup-text {
    width: max-content;
    max-width: 280px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    
    backdrop-filter: blur(5px);
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: -10;

    bottom: 105%;
    /* left: 50%; */

    font-size: 3rem;

    opacity: 0;
    padding: 10px;
}

.project-holder:hover .popup-text {
    opacity: 1;
    animation: popup-anim 0.5s ease;
    left: 50%;

    transform: translate(-50%, 0%);
}


@keyframes popup-anim {
    from {
        transform: translate(-50%, 10%);
        opacity: 0;

    }
    to {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}

.tech-used-text {
    font-size: 1rem;
    display: block;
    padding: 10px;
}